In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("House_data.csv")

In [3]:
df

   Area  Bedrooms  Year_old   Price
0  2500         2        21  550000
1  3000         3        18  560000
2  3300         5        15  620000
3  3700         3        30  400000
4  4000         6         7  700000

In [4]:
reg = linear_model.LinearRegression()
reg.fit(df[["Area","Bedrooms","Year_old"]],df.Price)

LinearRegression()

# Here we find price of the house whos 
### Area = 500
### Bedrooms = 5
### Year old = 5

In [5]:
reg.predict([[500,5,5]])

array([866494.21561783])

# Price = 866494.21561783

In [ ]:
# Y = m1 * Area + m2 * Bedrooms + m3 * Year_old + B

In [6]:
reg.coef_
# The value of m1,m2 and m3 is

array([   -46.35484193,  15478.89448489, -11524.69582128])

In [7]:
reg.intercept_
# The value of B is

869900.6432631896

In [8]:
price = -46.35484193*500+15478.89448489*5+-11524.69582128*5+869900.6432631896

In [9]:
price

866494.2156162396